
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--css-->
    <link rel="stylesheet" href="/css/role.css">
    <title>Login Form</title>

</head>
<body>

    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Choose Course And Semester</span>

        <form id="loginForms" action="/addTimeTable" method="post"> 
                <!--role-->
        <div class="input-field">
        <div class="p"> 
            <p>Course</p>
        </div>
        <div class="options">
            <select name="course" id="course" class="option">
                                <option value=""></option>
                                <option value="MCA">MCA</option>
                                <option value="MSC">MSC</option>
                               
                            </select>
          <!--  {{#if errors.usertype}}
                <div class="error">{{errors.usertype}}</div>
            {{/if}}
            -->
        </div>
        <div class="p"> 
            <p>Semester</p>
        </div>
        <div class="options">
            <select name="semester" id="semester" class="option">
                                <option value=""></option>
                                <option value="S1">S1</option>
                                <option value="S2">S2</option>
                                <option value="S3">S3</option>
                                <option value="S4">S4</option>

                            </select>
          <!--  {{#if errors.usertype}}
                <div class="error">{{errors.usertype}}</div>
            {{/if}}
            -->
        </div>
    </div>




<!--button-->
 <button type="submit">Next</button>


</form>
            </div>
        </div>
    </div>
    
    
</body>
</html>
