
<section class="about section-padding">
    <div class="container">
        <div class="row">
          <div class="home-container">
            <div class="row justify-content-center">
              <div class="col-6 col-sm-4 col-md-2 mb-3 edit-btn">
                  <button  class="btncontent w-100"><i class="fas fa-calendar fa-3x"></i><br><a href="/timeTable">view Timetable</a></button>   
               </div>
             
              
               <div class="col-6 col-sm-4 col-md-2 mb-3 edit-btn">
                  <button  class="w-100 btncontent"><i class="fas fa-pencil-alt fa-3x"></i><br><a href="/selectClass">Add Timetable</a></button>
              </div>
                   <div class="col-6 col-sm-4 col-md-2 mb-3 edit-btn">
                  <button  class="w-100 btncontent"><i class="fas fa-pencil-alt fa-3x"></i><br><a href="/student-details">Student Details</a></button>
              </div>
                   <div class="col-6 col-sm-4 col-md-2 mb-3 edit-btn">
                  <button  class="w-100 btncontent"><i class="fas fa-pencil-alt fa-3x"></i><br><a href="/faculty-details">faculty Details</a></button>
              </div>
              
          </div>
          </div>
        </div>
    </div>
</section>

<section class="front-product">
    <div class="container-fluid p-0">
        <div class="row align-items-center">

        </div>
    </div>
</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row">
           

        </div>
    </div>
</section>
</main>