        <section class="slick-slideshow">   
                <div class="slick-custom">
                    <img src="images/slideshow/department.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 id="slick-title" class="slick-title">IT Department</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Empowering Minds, Shaping Futures – Your Journey Begins Here</p>

                                    <a id="custom-btn" href="/login" class="btn custom-btn">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
               {{#if usermode.isStudent}}
            <section id="about" class="about section-padding">
                <div class="container">
                    <div class="row">
                     
                        <div class="col-12 text-center">
                            <h2 class="mb-5"><span>Important Update:</span>  Exam Schedules for the Semester Are Given Below!</h2>
                        </div>
                        <div class="col-lg-10 col-12">
                            <!-- <div class="tab-content mt-2" id="pills-tabContent"> -->
                               
                                    <div class="col-lg-8 col-12">
                                        <h2>General Info.</h2>
            
                                        <div class="accordion" id="accordionGeneral">
                                            {{#each usermode.notification}}
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralOne" aria-expanded="true" aria-controls="accordionGeneralOne">
                                                     {{this.subject}}
                                                    </button>
                                                </h2>
            
                                                <div id="accordionGeneralOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionGeneral">
            
                                                    <div class="accordion-body">
                                                        <p class="large-paragraph">{{this.message}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
        
                                    </div>
                               
                            </div>
                      
                        </div>
                    </div>
                </div>
            </section>
      {{/if}}
            {{!-- <section class="front-product">
                <div class="container-fluid p-0">
                    <div class="row align-items-center">

                    </div>
                </div>
            </section> --}}
{{!-- 
            <section class="featured-product section-padding">
                <div class="container">
                    <div class="row">
                       

                    </div>
                </div>
            </section> --}}

        </main>