                       <section class="slick-slideshow">   
                <div class="slick-custom">
                    <img src="images/slideshow/department.jpg" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">IT Department</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Empowering Minds, Shaping Futures – Your Journey Begins Here</p>

                                    <a href="/login" class="btn custom-btn">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="mb-5"><span>Important Update:</span>  Exam Schedules for the Semester Are Given Below!</h2>
                        </div>
                        <div class="col-lg-10 col-12">
                            <!-- <div class="tab-content mt-2" id="pills-tabContent"> -->
                               
                                    <div class="col-lg-8 col-12">
                                        <h2>General Info.</h2>
            
                                        <div class="accordion" id="accordionGeneral">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralOne" aria-expanded="true" aria-controls="accordionGeneralOne">
                                                    What is this Little Fashion?
                                                    </button>
                                                </h2>
            
                                                <div id="accordionGeneralOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionGeneral">
            
                                                    <div class="accordion-body">
                                                        <p class="large-paragraph"><strong>Little Fashion</strong> is free Bootstrap 5 website template for everyone. There are 8 HTML pages included in this template and you can expand more pages as you need.</p>
            
                                                        <p class="large-paragraph">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingTwo">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralTwo" aria-expanded="false" aria-controls="accordionGeneralTwo">
                                                    What is Tooplate website?
                                                    </button>
                                                </h2>
            
                                                <div id="accordionGeneralTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionGeneral">
            
                                                    <div class="accordion-body">
                                                        <p class="large-paragraph"><a href="https://www.tooplate.com/free-templates" target="_blank">Tooplate</a> is a great website to download free HTML website templates for your business or personal use. Tooplate website has been online for almost 8 years now. Thank you for visiting our website.</p>
                                                    </div>
                                                </div>
                                            </div>
            
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingThree">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionGeneralThree" aria-expanded="false" aria-controls="accordionGeneralThree">
                                                    How do I support your website?
                                                    </button>
                                                </h2>
            
                                                <div id="accordionGeneralThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionGeneral">
            
                                                    <div class="accordion-body">
                                                        <p class="large-paragraph">You can support our Tooplate website by sharing it to your friends or colleagues on the web or social media.</p>
                                                    </div>
                                                </div>
                                            </div>
            
                                        </div>
        
                                    </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="front-product">
                <div class="container-fluid p-0">
                    <div class="row align-items-center">

                    </div>
                </div>
            </section>

            <section class="featured-product section-padding">
                <div class="container">
                    <div class="row">
                       

                    </div>
                </div>
            </section>

        </main>