<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--css-->
    <link rel="stylesheet" href="/css/role.css">
    <title>Login Form</title>

</head>
<body>

    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Choose Your Role </span>

                <form id="loginForms" action="/role" method="post"> 
                <!--role-->
                     <div class="input-field">
        <div class="p"> 
            <p>Role</p>
        </div>
        <div class="options">
            <select name="usertype" id="userType" class="option">
                                <option value=""></option>
                                <option value="Student">Student</option>
                                <option value="Faculty">Faculty</option>
                                <option value="HOD">HOD</option>
                            </select>
            {{#if errors.usertype}}
                <div class="error">{{errors.usertype}}</div>
            {{/if}}
        </div>
    </div>




<!--button-->
<button  class="button" type="submit">Next</button>


</form>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
    
</body>
</html>
