<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <div class="welcome-container">
        <p>Welcome {{name}}!</p>
        <p id="text">Now you can login...<a id="atag"  href="/login">Go To Login Page</a>.</p>
    </div>
</body>
</html>
