/* .btncontent a{
  text-decoration: none;
  color: #fff;
} */
/* .btncontent:hover {
background-color:#563d7c;
border:1px solid #563d7c;
} */

/* .navbar{
    padding:.8rem;
    background-color: #0b2e56;
    
  }
  .navbar-nav li{
    padding-right: 20px;   
  }
  .nav-link{
    font-size:1.1em !important;
    color: white !important;
  }
  .navbar-toggler {
    background-color: white; 
    border: 1px solid white; 
  } */
  /* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
   
  }
  .navbar-brand{
    color: white;
  } */
  
  .home-container{
    margin-top:3rem ;
  }
  
  .welcome{
  
    margin:0 auto;
    padding-top: 2rem;
  }
  .welcome hr{
    border-top: 2px solid #b4b4b4;
    width:80%;
    margin:0 auto;
    margin-top: .3rem;
    margin-bottom: 1rem;
  }
  .justify-content-center{
    width:100%;
  }  
    .btncontent{
        height: 142px;
        border-color: black;
       color:white;
       background-color:#0b2e56 ;
       border-radius: 5px;
       margin:5px;
       font-size: 18px;
    }
    .fa-calendar,.fa-list,.fa-pencil-alt,.fa-upload,.fa-check-circle{
      padding-bottom: 20px;
    }
    .edit-btn a{
      color: #fff;
      text-decoration: none;
    }
    .edit-btn :hover,a:focus {
     text-decoration: none;
     color: #fff;
}
    
    
    
    
    
    
    
    